@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #7CC8A0;
    --cor1: #2FD680;
    --cor2: #50BF86;
    --cor3: #4A5A52;
    --cor4: #27322C;

    --fonte-padrao: Arial, Helvetica, sans-serif; 
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-androide: 'Android', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(222, 184, 135, 0.493);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to top, var(--cor2), var(--cor4) );
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;

}
header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);

}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
}
nav{
    background-color: var(--cor2);
    padding: 10px;
    
    text-align: center;
    
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
   
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

main{
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    margin-bottom: 30px;
    
}


img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    position: relative;
    padding-bottom: 40%;
   
}

div.video > iframe{
    width: 100%;
    position: absolute;
}
main h1, h2{
    font-family: var(--fonte-androide);
    font-weight: normal;
    color: var(--cor2);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.507);
}

main h2{
    background-image: linear-gradient(to right, var(--cor0), transparent);
    color: var(--cor4);
    font-size: 1.3em;
    border-radius: 3px;
    text-indent: 5px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
}

main a {
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
    border-radius: 5px;
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

aside h3{
    background-color: var(--cor2);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    color: var(--cor1);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
